.player-hand {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 7px;
  min-height: 130px;
  align-content: flex-start;
  width: 24%;
}

.player-hand.tuTurno, .player-card.current {
  background: var(--bg-panel);
  border: 1px solid var(--border);
  border-radius: 14px;
  box-shadow: 0px -5px 11px 0px #1eb1ab;
}

.player-hand:has(.domino-tile) {
  align-items: flex-start;
}

.player-hand .tile-dragging {
  visibility: hidden;
  pointer-events: none;
}