.player-hand {
  display: flex;
  gap: 8px;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 100%;
  padding: 7px;
  /* background: var(--bg-panel);
  border: 1px solid var(--border);
  border-radius: 14px; */
  min-height: 130px;
  align-content: flex-start;
  width: 30%;
}

.player-hand:has(.domino-tile) {
  align-items: flex-start;
}